// page-4

.item-4 .fp-tableCell {
    vertical-align: top;
    padding-top: 100px;;
}
.item-4 .title{
    -webkit-animation: flipInY 2s linear ;
    animation: flipInY 2s linear ;
}

.item-4 .container {
    display: none;
}

.item-4 .sign{
    margin-top: 20px;;
    margin-bottom: 20px;
    -webkit-animation: flip 1s linear ;
    animation: flip 1s linear ;
    color: transparent; 
    text-shadow:0 0 6px #F96, -1px -1px #FFF, 1px -1px #444;
}
.item-4 .experience {
    height: 100px;
}
.item-4 .team-img {
    width: 120px;
    height: 120px;
}
#item-4 .thumbnail {
    display: block;
    background-color: transparent;
    border:0;
}

#item-4 .thumbnail .caption {
    color: rgb(255, 140, 0);
    text-shadow: 1px 1px 1px #4442a9;

    font-family: inherit;
}
#item-4 h3 {
    font-size: 16px;
    font-weight: 700;
}
#item-4 p {
    font-size: 16px;
    font-weight: 700;
}
#item-4 .thumbnail .team-img {
    border: 4px solid transparent;
    -webkit-animation: team-img 3s linear infinite;
    animation: team-img 3s linear infinite;
}
#item-4 .thumbnail {
    margin: 0;
}